extends layouts/index.pug

block productos

    div(class="container")
        h1='Vista de Productos'
        br
        if hayProductos
            div(class="table-responsive")
                table(class="table")
                    tr(class="table-primary")
                        th='Nombre'
                        th='Precio'
                        th='Foto'
                        each producto in productos
                            tr(class="table-primary")
                                td=producto.title
                                td=producto.price
                                td
                                    img(width="50" src=producto.thumbnail alt="not found")
        else
            h2(class="alert alert-dismissible alert-warning")='No hay productos cargados'
        br
        a(href="/" type="button" class="btn btn-light")='Cargar un producto'
